# Database Configuration

POSTGRES_USER=your_db_user_here
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=your_db_name_here
POSTGRES_HOST=db
POSTGRES_PORT=xxxx

# Flask Configuration

FLASK_SECRET_KEY=your_secure_random_flask_secret_key_here
DATABASE_URL=postgresql://your_db_user_here:your_secure_password_here@db:port/your_db_name_here
